.mycontact{
    overflow: hidden;
    text-align: center;
    padding: 2em;
    color: #F3F4F6;
    cursor: default;
    background-color: #111827;
}

.heading > h1 > span{
    margin-left: 0.5em;
    color: #EAB308;
}

.contact{
    margin-top: 1em;
}

.contact > p > span{
    font-size: large;
    color: #EAB308;
}

.email > a{
    color: #F3F4F6;
}

.email > a:hover{
    color: rgb(50, 101, 211)
}

.social_media{
    margin-top: 1em;
    font-size: xx-large;
    letter-spacing: 1em;
}

.social_media > a{
    color: rgba(255,255,255,0.2);
}

.social_media > a:nth-child(1){
    margin-left: 1em;
}

.social_media > a:hover{
    color: #EAB308;
}

.copyright{
    margin-top: 3em;
    font-size: small;
    letter-spacing: 0.15em;
}

@media screen and (max-width: 423px) {
    .heading{
        font-size: small;
    }

    .contact > p{
        font-size: small;
    }

    .contact > p > span{
        font-size: medium;
    }

    .social_media{
        font-size: x-large;
    }

    .copyright{
        font-size: x-small;
    }
}

@media screen and (max-width: 337px) {
    .heading{
        font-size: x-small;
    }

    .contact > p{
        font-size: x-small;
    }

    .contact > p > span{
        font-size: small;
    }

    .social_media{
        font-size: large;
    }

    .copyright{
        font-size: xx-small;
    }
}

@media screen and (max-width: 273px) {
    .heading{
        font-size: x-small;
    }

    .contact > p{
        font-size: x-small;
    }

    .contact > p > span{
        font-size: small;
    }

    .social_media{
        font-size: medium;
    }

    .copyright{
        font-size: xx-small;
    }
}