.myskills{
    overflow: hidden;
    color: #F3F4F6;
    cursor: default;
    background-color: #020617;
    border: 1px solid rgba(0,0,0,0);
}

.heading > h1{
    text-align: center;
}

.heading > h1 > span{
    margin-left: 0.5em;
    color: #EAB308;
}

.skills > div{
    float: left;
    width: 12.5%;
    text-align: center;
   
}

.icon{
    margin-top: 0.2em;
    font-size: 3.5em;
}

.title{
    cursor: default;
}

.skills > div:nth-child(1) > .icon{
    color: #f35932;
}

.skills > div:nth-child(2) > .icon{
    color: #215ec0;
}

.skills > div:nth-child(3) > .icon{
    color: #622f83;
}

.skills > div:nth-child(4) > .icon{
    color: #e6cb1e;
}

.skills > div:nth-child(5) > .icon{
    color: #48b4ea;
}

.skills > div:nth-child(7) > .icon{
    color: #09608b;
}

@media screen and (max-width: 1400px) {
    .title > h2{
        font-size: x-large;
    }
}

@media screen and (max-width: 1000px) {
    .icon{
        font-size: 3em;
    }
    
    .title > h2{
        font-size: larger;
    }
}

@media screen and (max-width: 830px) {
    .heading > h1{
        font-size: x-large;
    }

    .title > h2{
        font-size: medium;
    }
}

@media screen and (max-width:630px) {
    .heading > h1{
        font-size: larger;
    }

    .icon{
        font-size: 2.5em;
    }

    .title > h2{
        font-size: small;
    }
}

@media screen and (max-width: 570px) {
    .skills > div{
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .skills > div{
        width: 33%;
    }

    .icon{
        font-size: 4em;
    }

    .title > h2{
        font-size: large;
    }
}

@media screen and (max-width: 325px) {
    .myskills{
        font-size: small;
    }

    .title{
        font-size: small;
    }
}