.navbar-bg{
    background-color: #020617;
}

#navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navlink{
    margin-right: 1.5em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.navlink:nth-child(1){
    margin-left: 2em;
}

.toggleButton{
    margin-right: 1em;
}

.navbarCollapse .navlink{
    text-align: center;
}

.navbarCollapse .navlink:nth-child(1){
    margin-left: 0;
}
